# Python
__pycache__/
*.py[cod]
venv/
.venv/
*.egg-info/

# Node
node_modules/
dist/
.vite/

# Secrets
.env
.env.local

# ML artifacts
*.pth
*.pt
data/

# Editor / OS
.vscode/
.DS_Store

*.db
backend/uploads/
